<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Blog Web Application Project</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <h1>Capstone Project</h1>
        <div>
          <a href="/">Home</a>
          <a href="/compose">Create</a>
        </div>
      </div>
      <hr />
    </header>